body {
    font-family: arial, sans-serif;
}

.beitrag_head {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.beitrag_head .headItem {
    width: 48%;
    min-width: 300px;
    margin: 0 1%;
    text-align: left;
    max-height: 400px;
    overflow: hidden;
}

.beitrag_head .headItem img {
    width: 100%;
}

.headItem {
    display: block;
}

.info {
    text-align: left;
}

.label {
    font-weight: bolder;
    display: inline;
}

.value {
    display: inline;
}

.bericht {
    display: block;
    text-align: left;
}

.sige {
    clear: both;
    display: table-cell;
    margin: 16px 4px;
    padding: 0;
    list-style-type: none;
}

.sige li {
    margin: 0;
    overflow: visible;
    background-image: none;
    padding: 0;
}

.sige_cont_0 {
    width: 230px;
    height: 230px;
    float: left;
    display: inline-block;
}

ul li {
    white-space: nowrap;
}